                    * {
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                    }
                    
                    body {
                        font-family: "Montserrat-black";
                        color: #000;
                    }
                    
                    h1 {
                        font-family: "Montserrat-black", sans-serif;
                        font-size: 3.5rem;
                        line-height: 1.5;
                    }
                    
                    .container-fluid {
                        padding: 3% 15%;
                    }
                    
                    #title {
                        background-color: #000000;
                        color: #fff;
                    }
                    
                    .title-image {
                        width: 60%;
                        transform: rotate(25deg);
                    }
                    
                    .navbar {
                        padding: 0 0 4.5rem;
                    }
                    
                    .navbar-brand {
                        font-family: "Ubuntu";
                        font-size: 2.5rem;
                        font-weight: bold;
                    }
                    
                    .nav-item {
                        padding: 0 18px;
                    }
                    
                    .nav-link {
                        font-size: 1.2rem;
                        font-family: "Monsterrat-Light";
                    }
                    
                    .download {
                        margin: 5% 3% 5% 0;
                    }
                    
                    .nav-link:hover {
                        color: steelblue;
                    }
                    
                    .about img {
                        float: right;
                        width: 20%;
                        height: 100%;
                        margin-left: 20px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        filter: drop-shadow(0px 5px 3px black);
                    }
                    
                    .about {
                        line-height: 2em;
                        font-weight: 500;
                        margin: 10px;
                        padding: 10px;
                        margin-right: 20px;
                    }
                    
                    .purpose {
                        margin-top: 30px;
                    }
                    
                    .container {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                    
                    img {
                        border-radius: 50px;
                        cursor: pointer;
                    }
                    
                    .fa-instagram {
                        font-size: 2rem;
                        padding: 8px;
                        color: #e4405f
                    }
                    
                    .fa-instagram:hover {
                        color: #e4405f;
                        background-color: #fff;
                        border-radius: 20px;
                    }
                    
                    .fa-facebook-square {
                        font-size: 2rem;
                        padding: 8px;
                        color: #3b5999;
                    }
                    
                    .fa-facebook-square:hover {
                        color: #3b5999;
                        background-color: #fff;
                        border-radius: 20px;
                    }
                    
                    .form {
                        text-align: center;
                        color: steelblue;
                        width: 320px;
                        margin: 20px auto;
                    }
                    
                    .form p {
                        font-size: 1rem;
                    }
                    
                    input {
                        padding: 10px;
                        font-size: 1rem;
                    }
                    
                    input[type="text"] {
                        display: block;
                        margin-top: 25px;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-radius: 50px;
                    }
                    
                    input[type="email"] {
                        display: block;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-radius: 50px;
                    }
                    
                    input[type="submit"] {
                        display: block;
                        margin-bottom: 25px;
                        width: 100px;
                        border: 2px solid steelblue;
                        text-align: center;
                        cursor: pointer;
                        border-radius: 50px;
                    }
                    
                    .submit:hover {
                        background-color: steelblue;
                        transition: 1s ease;
                    }
                    
                    .submit:focus {
                        background-color: lavenderblush;
                    }
                    
                    textarea {
                        display: block;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-top-right-radius: 30px;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                    
                    footer {
                        text-align: center;
                        font-size: 1rem;
                        background: #d5d3db98;
                    }