                    * {
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                    }
                    
                    body {
                        font-family: font-family: 'Roboto', sans-serif;
                    }
                    
                    button {
                        font-family: font-family: 'Roboto', sans-serif;
                    }
                    
                    .container-fluid {
                        padding: 3% 15%;
                    }
                    
                    #title {
                        background-color: #000000;
                        color: #fff;
                    }
                    
                    .title-image {
                        width: 60%;
                        transform: rotate(25deg);
                    }
                    
                    .download {
                        margin: 5% 3% 5% 0;
                    }
                    
                    .navbar-brand {
                        color: orangered;
                    }
                    
                    .nav-link {
                        color: orangered;
                        font-size: 1rem;
                        text-decoration: none;
                        border: 1px solid transparent;
                        padding: 5px 20px;
                        font-weight: 500;
                    }
                    
                    .nav-link:hover {
                        color: steelblue;
                    }
                    
                    .presentation {
                        display: grid;
                        width: 90%;
                        margin: auto;
                        align-items: center;
                    }
                    
                    .cover {
                        flex: 1;
                        justify-content: space-evenly;
                        cursor: pointer;
                        height: 70vh;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
                    }
                    
                    .cover img {
                        height: 100%;
                        margin: 24px;
                        margin-bottom: 20px;
                        justify-content: space-between;
                        filter: drop-shadow(0px 5px 3px black);
                        animation: drop 2.5s ease-in-out;
                    }
                    
                    .about img {
                        float: right;
                        width: 20%;
                        height: 100%;
                        margin-left: 20px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        filter: drop-shadow(0px 5px 3px black);
                    }
                    
                    .about {
                        line-height: 2em;
                        font-weight: 500;
                        margin: 10px;
                        padding: 10px;
                        margin-right: 20px;
                    }
                    
                    .purpose {
                        margin-top: 30px;
                    }
                    
                    .container {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                    
                    img {
                        border-radius: 50px;
                    }
                    
                    .fa-instagram {
                        font-size: 2rem;
                        padding: 8px;
                        color: #e4405f
                    }
                    
                    .fa-instagram:hover {
                        color: #e4405f;
                        background-color: #fff;
                        border-radius: 20px;
                    }
                    
                    .fa-facebook-square {
                        font-size: 2rem;
                        padding: 8px;
                        color: #3b5999;
                    }
                    
                    .fa-facebook-square:hover {
                        color: #3b5999;
                        background-color: #fff;
                        border-radius: 20px;
                    }
                    
                    .posters {
                        cursor: pointer;
                    }
                    
                    .posters img {
                        width: 20%;
                        height: 100%;
                        margin-left: 20px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        filter: drop-shadow(0px 5px 3px black);
                        animation: slide2 1.5s ease-in-out;
                    }
                    
                    .form {
                        text-align: center;
                        color: steelblue;
                        width: 320px;
                        margin: 20px auto;
                    }
                    
                    .form p {
                        font-size: 1rem;
                    }
                    
                    input {
                        padding: 10px;
                        font-size: 1rem;
                    }
                    
                    input[type="text"] {
                        display: block;
                        margin-top: 25px;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-radius: 50px;
                    }
                    
                    input[type="email"] {
                        display: block;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-radius: 50px;
                    }
                    
                    input[type="submit"] {
                        display: block;
                        margin-bottom: 25px;
                        width: 100px;
                        border: 2px solid steelblue;
                        text-align: center;
                        cursor: pointer;
                        border-radius: 50px;
                    }
                    
                    .submit:hover {
                        background-color: steelblue;
                        transition: 1s ease;
                    }
                    
                    .submit:focus {
                        background-color: lavenderblush;
                    }
                    
                    textarea {
                        display: block;
                        margin-bottom: 25px;
                        width: 300px;
                        border: 2px solid steelblue;
                        border-top-right-radius: 30px;
                        border-bottom-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                    
                    footer {
                        text-align: center;
                        font-size: 1rem;
                        background: #d5d3db98;
                    }
                    
                    @keyframes drop {
                        0% {
                            opacity: 0;
                            transform: translateY(-80%);
                        }
                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }