    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: rgb(83, 81, 79);
        color: #fff;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    header {
        padding: 30px 10%;
        background: rgb(83, 81, 79);
        height: 100vh;
    }
    
    ul {
        float: right;
        list-style: none;
        margin-top: 25px;
    }
    
    ul li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    ul li a {
        font-weight: 500;
        font-size: 16px;
        color: #53bde0;
        text-decoration: none;
        padding: 5px 20px;
        border: 1px solid transparent;
        border-radius: 50px;
        transition: 1s ease;
    }
    
    ul li a:hover {
        background-color: turquoise;
        color: blueviolet;
    }
    
    .logo img {
        cursor: pointer;
        float: left;
        width: 18%;
        height: 18%;
    }
    
    .navbar {
        max-width: 1200px;
        margin: auto;
    }
    
    .intro {
        margin: 10px;
        background: url(../images/intro.jpeg);
        color: #000;
    }
    
    .container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    img {
        border-radius: 50px;
    }
    
    .fa-instagram {
        font-size: 32px;
        display: block;
        padding: 20px;
    }
    
    .fa-facebook-square {
        font-size: 32px;
        padding: 20px;
    }
    
    .form {
        text-align: center;
        color: steelblue;
        width: 320px;
        margin: 20px auto;
    }
    
    input {
        padding: 10px;
        font-size: inherit;
    }
    
    input[type="text"] {
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 300px;
        border: 2px solid steelblue;
        border-radius: 50px;
    }
    
    input[type="email"] {
        display: block;
        margin-bottom: 25px;
        width: 300px;
        border: 2px solid steelblue;
        border-radius: 50px;
    }
    
    input[type="submit"] {
        display: block;
        margin-bottom: 25px;
        width: 100px;
        border: 2px solid steelblue;
        text-align: center;
        cursor: pointer;
        border-radius: 50px;
    }
    
    textarea {
        display: block;
        margin-bottom: 25px;
        width: 300px;
        border: 2px solid steelblue;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    footer {
        text-align: center;
    }